<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cyber-Shield</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <style type="text/css">
        .fondo {
            background: url("https://wallpaperaccess.com/full/316867.jpg");
            background-position: center;
            /*opacity:9;
            /*background-size:cover;
            background-attachment:fixed; */
        }
    </style>

</head>

<body>
    <div class="p-5 bg-light fondo">
        <!--Título de la página-->
        <h1 class="text-info p-3 ">Cyber Shield</h1>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
            </script>

        <!--Frase-->
        <h6 class=" text-white">La página oficial de los últimos acontecimientos cibernéticos en el mundo. </h3>
    </div>
    <!--Navbar-->
    <div class="text-dark bg-info">
        <nav class="navbar navbar-expand-lg  ">
            <div class="container-fluid">
                <a class="navbar-brand text-dark fw-bold" href="#">Navegación</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">Noticias</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Productos
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Cyber-Shield Community</a></li>
                                <li><a class="dropdown-item" href="#">Cyber-Shield Home</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Cyber-Shield Enterprise</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Comunidad</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Acerca</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Contacto</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Perfil
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Sign In</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Log In</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                        <button class="btn btn-dark" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>


    <!--Carousel-->
    <div style="padding-left: 200px; padding-right: 200px; padding-top: 50px; padding-bottom: 50px;">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://embedwistia-a.akamaihd.net/deliveries/719c5e95c04b8a6c58ea0784d794e111.webp?image_crop_resized=960x540"
                        class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://krontech.com/_upload/blogimages/recent-cybersecurity-news-from-uk-ireland-krontech-730x411.jpg"
                        class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://www.cybernewsbox.com/wp-content/uploads/2021/07/3.png" class="d-block w-100"
                        alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>


    <!--Cards-->
    <div class="row row-cols-1 row-cols-md-2 g-4 "
        style="padding-left: 50px; padding-right: 50px; padding-bottom: 50px;">
        <div class="col ">
            <div class="card  ">
                <div style="text-align: center;">
                    <img src="https://seaccna.com/wp-content/uploads/2015/12/CCNA_security_large-1.jpg"
                        class="card-img-top" alt="...." style="max-width: 200px;">
                </div>
                <div class="card-body">
                    <h5 class="card-title">CCNA</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit per fermentum nullam,
                        magnis odio turpis velit litora hendrerit cursus vehicula sodales, cum bibendum etiam facilisi
                        in elementum ad facilisis rutrum. Turpis nec metus curabitur potenti purus posuere inceptos cras
                        tincidunt, elementum ac nullam class dignissim viverra dictum nisi convallis nisl, interdum nam
                        arcu habitant porta natoque himenaeos accumsan. Cursus volutpat suspendisse lacus accumsan per
                        enim condimentum egestas purus magna auctor, commodo dignissim ullamcorper nibh gravida
                        vestibulum facilisis habitant libero pharetra diam semper, risus lacinia nulla primis conubia
                        tellus sociis inceptos blandit felis.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div style="text-align: center;">
                    <img src="https://cloudsecurityalliance.org/packs/media/images/education/ccsk/credly_badge-95e1d545ee553cce4e870f3b1dd361c8.png"
                        class="card-img-top" alt="..." style="max-width: 200px;">
                </div>
                <div class="card-body">
                    <h5 class="card-title">CCSK</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit per fermentum nullam,
                        magnis odio turpis velit litora hendrerit cursus vehicula sodales, cum bibendum etiam facilisi
                        in elementum ad facilisis rutrum. Turpis nec metus curabitur potenti purus posuere inceptos cras
                        tincidunt, elementum ac nullam class dignissim viverra dictum nisi convallis nisl, interdum nam
                        arcu habitant porta natoque himenaeos accumsan. Cursus volutpat suspendisse lacus accumsan per
                        enim condimentum egestas purus magna auctor, commodo dignissim ullamcorper nibh gravida
                        vestibulum facilisis habitant libero pharetra diam semper, risus lacinia nulla primis conubia
                        tellus sociis inceptos blandit felis.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div style="text-align: center;">
                    <img src="https://comptiacdn.azureedge.net/webcontent/images/default-source/certproduct/pathways/04294-comptia-cert-badges_specialist---cios.png"
                        class="card-img-top" alt="..." style="max-width: 200px;">
                </div>
                <div class="card-body">
                    <h5 class="card-title">CompTIA</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit per fermentum nullam,
                        magnis odio turpis velit litora hendrerit cursus vehicula sodales, cum bibendum etiam facilisi
                        in elementum ad facilisis rutrum. Turpis nec metus curabitur potenti purus posuere inceptos cras
                        tincidunt, elementum ac nullam class dignissim viverra dictum nisi convallis nisl, interdum nam
                        arcu habitant porta natoque himenaeos accumsan. Cursus volutpat suspendisse lacus accumsan per
                        enim condimentum egestas purus magna auctor, commodo dignissim ullamcorper nibh gravida
                        vestibulum facilisis habitant libero pharetra diam semper, risus lacinia nulla primis conubia
                        tellus sociis inceptos blandit felis.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div style="text-align: center;">
                    <img src="https://images.credly.com/images/40daa3dd-85a9-40a1-a864-0c03b4d76b01/Credly_CPENT_Badge_Upload.png"
                        class="card-img-top" alt="..." style="max-width: 187px;">
                </div>
                <div class="card-body">
                    <h5 class="card-title">C|PENT</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit per fermentum nullam,
                        magnis odio turpis velit litora hendrerit cursus vehicula sodales, cum bibendum etiam facilisi
                        in elementum ad facilisis rutrum. Turpis nec metus curabitur potenti purus posuere inceptos cras
                        tincidunt, elementum ac nullam class dignissim viverra dictum nisi convallis nisl, interdum nam
                        arcu habitant porta natoque himenaeos accumsan. Cursus volutpat suspendisse lacus accumsan per
                        enim condimentum egestas purus magna auctor, commodo dignissim ullamcorper nibh gravida
                        vestibulum facilisis habitant libero pharetra diam semper, risus lacinia nulla primis conubia
                        tellus sociis inceptos blandit felis.</p>
                </div>
            </div>
        </div>
    </div>


</body>




</html>